#design-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    text-align: center;
    gap: 20px;
}

.info-text {
    font-style: italic;
    color: #A9A9A9;
    margin: 5px 0;
}