#header {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

#header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#header p {
    font-size: 16px;
    margin-bottom: 10px;
}

#threshold-slider {
    width: 200px;
    margin: 0 15px;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.input-button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.input-label {
    font-weight: bold;
    margin: 5px;
}

.input-field {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.sidebar-list.titles p.shape-title {
    margin: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
}

#header #image-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.vertical-divider {
    width: 1px;
    height: 30px;
    background-color: #ccc;
    margin: 0 15px;
}

#threshold-slider {
    width: 200px;
    margin: 0 15px;
}