#header {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

#header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#header p {
    font-size: 16px;
    margin-bottom: 10px;
}

#input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-label {
    font-weight: bold;
    margin: 5px;
}

.input-field {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.sidebar-list .shape-title {
    display: flex;
    flex-direction: row;
}

.shape-title p {
    margin: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
}

/* Adjustments to existing styles */
#header #image-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.vertical-divider {
    width: 1px;
    height: 30px;
    background-color: #ccc;
    margin: 0 15px;
}

/* Grid size control styles */
.grid-size-control {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.grid-size-control span {
    margin-right: 5px;
}

.grid-size-control input[type="number"] {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.grid-size-control input[type="number"]::-webkit-outer-spin-button,
.grid-size-control input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    opacity: 1;
}

.grid-size-control button {
    width: 25px;
    height: 25px;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    margin: 0 2px;
}

/* Slider control styles */
.slider-control {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.slider {
    width: 180px;
    margin: 0 5px;
}

.slider:disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.slider-icon {
    width: 12px;
    height: 12px;
    border: 1px solid #cccccc;
    margin: 0 5px;
}

.slider-icon.filled {
    background-color: rgba(111, 0, 255, 0.5);
}